
 // 圆角定义规范 
$lf-radius-box-two: 4rpx;
$lf-radius-box-four: 8rpx;
$lf-radius-box-five: 10rpx;
$lf-radius-box-six: 12rpx;
$lf-radius-box-eight: 16rpx;
$lf-radius-box-ten: 20rpx;

 // 颜色定义规范
 $normal-theme-color:#c0e8b9;//主题颜色配置
 $pink-theme-color:#ff6ec7;//主题颜色配置
 $blue-theme-color:#1296db;//主题颜色配置
 $main-color:#0771DB;//主体颜色配置
 $tips-color: #FF0000; // 提示颜色
 
 $bg-color:#EEEEEE;
 $one-font-color:#818181;//默认的一号字体
 $two-font-color:#828282;//默认的二号字体
 $three-line-color:#BBBBBB;//默认三号字体

 

// 字体定义规范
$lf-font-size-ten: 20em;
$lf-font-size-twelve: 24em;
$lf-font-size-thirteen: 26em;
$lf-font-size-fourteen: 28em;
$lf-font-size-fifteen: 30em;
$lf-font-size-sixteen: 32em;
$lf-font-size-eighteen: 36em;
$lf-font-size-twenty: 40em;

 // 边框阴影配置
$lf-box-shadow-gray: 0 1rpx 10rpx rgba(0, 0, 0, 0.2);

// 图片大小尺寸
$lf-thirty-size: 30rpx;
